.caption{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: medium;
    font-weight: bold;
    background-color: black;
    color: white;
    padding: 5px;
}